* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3e3a58;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main {
  width: 100dvw;
  background-color: #625a9b;
  height: 65px;
}

.search {
  width: 150px;
  padding: 10px;
  margin: 15px;
  border-radius: 100px;
  color: white;
  background-color: #3e3a58;
  outline: none;
  border: none;
  position: absolute;
  right: 0;
}

::placeholder {
  color: #625a9b;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #625a9b;
}

.container {
  position: relative;
  top: 65px;
  width: 100%;
  height: max-content;
  background-color: #3e3a58;
  padding: 10px;
}

img {
  width: 100%;
  height: 100%;
}

.photo {
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 450px;
  overflow: hidden;
}
.movie {
  position: relative;
  float: left;
  width: max-content;
  height: 490px;
  background-color: #625a9b;
  margin: 10px;
  overflow: hidden;
}

.title {
  position: absolute;
  bottom: 10px;
  width: 65%;
  left: 10px;
  color: white;
}

.rating {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding-block: 5px;
  padding-inline: 10px;
  background-color: #3e3a58;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  bottom: -700px;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 10px;
  font-size: 14px;
  transition: 0.5s;
}

.movie:hover .overlay {
  bottom: 0;
}

.green {
  color: #4ab64a;
}

.orange {
  color: #b9bb4e;
}

.red {
  color: #b4604b;
}
